body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    background-color: #f8f9fa;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-wrapper{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    width: 400px;
}
.form-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    /* color: #333333; */
    color: #007bff;
}
.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.form-button:hover{
    background-color: #0056b3;
}
.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}
.main{
    color: red;
}
#hiddenIcon{
    position: absolute;
    top: 55.5%;
    left: 62%;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}
@media (max-width : 600px) {
    .form-wrapper{
        width: 80%;
    }
}